<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61420739781-bmmv00lkgd1ens54q6l8ei7n5iveop4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61420739781-bmmv00lkgd1ens54q6l8ei7n5iveop4k</string>
	<key>API_KEY</key>
	<string>AIzaSyB597hfCMdUtEQXan0YwCfdBFImXfvKItw</string>
	<key>GCM_SENDER_ID</key>
	<string>61420739781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fringe.app</string>
	<key>PROJECT_ID</key>
	<string>fringe-99814</string>
	<key>STORAGE_BUCKET</key>
	<string>fringe-99814.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61420739781:ios:8401a440c0d054a9a8e4ac</string>
</dict>
</plist>